body {
	text-align:  center;
}

.board {
	width:  0px;
	height:  0px;
	margin:  50px auto;
	border:  2px solid #000;
	display:  flex;
	flex-wrap:  wrap;
}
.board .cell {
	width:  100px;
	height:  100px;
	border:  2px solid #000;
	box-sizing:  border-box;
	font-size:  24px;
	font-weight:  bold;
	display:  flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
#start{
    padding:  16px 24px;
	font-size:  20px;
}